.modal-container {
	background-color: rgba(33, 33, 33, .4);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	z-index: 1000;
	.modal-body {
		background-color: #fff;
		padding: 30px;
		width: 80%;	
		max-width: 300px;
		position: absolute;
		left: 50%;
		top: 48%;
		transform: translate3d(-50%, -50%, 0);
	}
}

@media only screen and (max-width: 414px) {
	.modal-container {
		.modal-body {
			padding: 20px;
			max-width: 280px;
		}
	}
}